name: "Gradle Build with SonarQube Analysis"

# Example usage:
#jobs:
#  run-ci:
#    uses: Jikoo/PlanarActions/ci_gradle_sonar.yml@master
#    secrets: inherit # Or specify SONAR_TOKEN

on:
  workflow_call:
    inputs:
      java-version:
        description: "The version of Java to install."
        default: "21"
        required: false
        type: "string"
      include-artifacts:
        description: "File inclusion filter for build artifacts. See actions/upload-artifact path parameter."
        default: "./build/libs/*.jar"
        required: false
        type: "string"
    secrets:
      SONAR_TOKEN:
        required: true

jobs:
  build:
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v6

      - name: "Set up JDK"
        uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: "${{ inputs.java-version }}"

      - uses: gradle/actions/setup-gradle@v5

      - name: "Cache SonarCloud packages"
        uses: actions/cache@v5
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: |
            ${{ runner.os }}-sonar

      - name: Build and analyze
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: ./gradlew build sonar --info

      - name: "Upload artifacts"
        uses: actions/upload-artifact@v6
        with:
          name: ${{ github.event.repository.name }}-ci
          path: ${{ inputs.include-artifacts }}
